* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: #214f6e;
    color: white;
    
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    
}

.header-text {
    font-size: 6px;
    padding-left: 2px;
    position:relative; left:3px;
    
}


.header-logo {
    height: 15px;
   padding-left: 5px;
    
}

.header-link,
.header-link:hover,
.header-link:active {
    color: white;
    text-decoration: none;
    background-color: rgb(220, 143, 0);
    padding: 2px;
    text-align: center;
   margin: 10px;
   margin-top: 5px;
    font-size: 10px;
    position: relative; left: 10px; top: 3px;

       
}



.section1 {
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
}

.div0-section1 {
    position: absolute;
    top: 170px; left: 54%;
}

.img0-section1 {
    height: 165px;
}

.div1 {
    padding-top: 20px;
    padding-left: 5px;
}

h1 {
    font-size: 18px;
color: #214f6e;
position: relative; top: 25px;
padding-left: 10px;
}

.text0-section1 {
    font-size: 10px;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 96px;
}

.text1-section1 {
    font-size: 8px;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 150px;
    padding-bottom: 10px;
}

.span1-section1 {
    font-size: 7px;
    padding-left: 15px;
}

.section2 {
    background-color: dodgerblue;
    width: 100%;
    height: 175px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

h2 {
    color: white;
    font-size: 20px;
   padding-top: 18px;
   padding-bottom: 4px;
}

.section2-link {
    color:#214f6e;
    background-color: white;
    padding: 10px 20px;
    border: white;
    position: relative; top: 20px;
    text-decoration: none;
    font-size: 15px;

}

.span2-section2 {
 position: relative;top: 35px;
 font-size: 8px;
 color: white;
}

.section3 {
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
}

h3 {
    font-size: 14px; 
    text-align: center;
    color: #214f6e;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.text3-section3 {
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #214f6e;
    
}

.links3-section3 {
   
    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

.links3-1-section3 {

    text-align: center;
    font-size: 10px;
    display: flex;
    flex-direction: row;
}

.links3-2-section3 {
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.section3-links {
    text-decoration: none;
    outline: 1px solid #214f6e;
     margin: 2px;
     padding: 5px;
}

.container-links-section3 {
padding-top: 10px;
   align-items: center;
   display: flex;
   flex-direction: column;
}

.section4 {
    width: 100%;
    height: 150px;
    gap: 1px;
    display: flex;
    flex-direction: row;
}

.links4-section4 {
    font-size: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: dodgerblue;
    padding-top: 15px;
    padding-right: 5px;
   
}

.div4-section4 {
    display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: dodgerblue;
       padding-left: 20px;
       color: white;
       width: 100%;
   
}

.text4-section4 {
    position: relative;
        top: 6px;
}

.section4-links {
    text-decoration: none;
    color: white;
    padding-left: 20px;
   padding-bottom: 6px;
   display: flex;
    flex-direction: column;
   
}

.text4-1-section4 {
    text-align: left;
    font-size: 10px;
    padding-top: 12px;
}

h4 {
    font-size: 15px;
}

footer {
    background-color: #214f6e;
    color: white;
    text-align: center;
    width: 100%;
}

.footer-logo {
    height: 20px;
    padding-top: 5px;
}

.footer-span {
    font-size: 5%;
    padding-bottom: 5px;
}

@media (min-width: 1000px) {
    
    header {
        width: 100%;
        height: 50px;
        display: flex;
       position: relative;
        align-items: center;
        
    }
    .header-logo {
        height: 30px;
    }
    .header-link {
        position: relative;
       left: 1000px;
        padding: 5px;
    }

    .header-text {
        position: relative;
        left: 10px;
        font-size: 12px;
        padding-left: 15px;
    }

    .header-link,
    .header-link:hover,
    .header-link:active {
        color: white;
        text-decoration: none;
       background-color: rgb(220, 143, 0);
       padding: 2px 10px;
       text-align: center;
       margin: 10px;
      margin-top: 5px;
      font-size: 10px;
     position: relative;
      left: 1000px;
     
   }

    .section1 {
        background-color: whitesmoke;
        width: 100%;
        height: 300px;
    }

.div0-section1 {
    position: absolute;
    top: 80px; left: 55%;
}

    .img0-section1 {
        height: 270px;
    }

    h1 {
        font-size: 30px;
    }

    .text0-section1 {
        font-size: 15px;
       padding-top: 40px;
       color: #214f6e;
    }
    
    .div1-section1 {
        padding-top: 20px;
        padding-left: 420px;
    }

    .text1-section1 {
        font-size: 12px;
        color: #214f6e;
       padding-top: 30px;
    }
    
    .span1-section1 {
        font-size: 10px;
        color: #214f6e;
        padding-top: 10px;
    }

    .section3 {
        background-color: whitesmoke;
        width: 100%;
        height: 450px;
    }
    
    h3 {
        font-size: 20px;
        text-align: center;
        color: #214f6e;
        padding-top: 35px;
        
    }
    
    .text3-section3 {
        font-size: 16px;
        text-align: center;
    }
    
    .links3-section3 {
        text-align: center;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }
    
    .links3-1-section3 {
        text-align: center;
        font-size: 10px;
        display: flex;
        flex-direction: row;
    }
    
    .links3-2-section3 {
       display: flex;
       flex-direction: row;
       align-items: center;
      justify-content: center;
      font-size: 10px;
    }
    
    .section3-links {
        text-decoration: none;
        outline: 1px solid #214f6e;
         margin: 4px;
         padding: 25px;
         
    }

    .container-links-section3 {
        padding-top: 10px;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }


    .section4 {
        width: 100%;
        height: 300px;
        gap: 1px;
        display: flex;
        flex-direction: row;
    }

    .links4-section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
      padding-left: 100px;
      gap: 15px;
    }

    .links4-1-section4 {
        font-size: 12px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        position: relative;
        left: 300px; top: 5px;
    }
    
    .div4-section4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: dodgerblue;
       padding-left: 20px;
       color: white;
       width: 70%;
    }
    
    .section4-links {
        text-decoration: none;
        color: white;
    }

    .text4-section4 {
        position: relative;
        top: 6px;
    }
    
    .text4-1-section4 {
        text-align: left;
        font-size: 16px;
        padding-top: 12px;
    }
    
    h4 {
        font-size: 35px;
    }

    footer {
        width: 100%;
        height: 75px;
        background-color: #214f6e;
     color: white;
     text-align: center;
     padding-top: 20px;
    }
    .footer-logo {
        height: 25px;
        padding-top: 2px;
        align-items: center;
    }
    
    .footer-span {
        font-size: 8px;
        padding-top: 5px;
    }
}